.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 50vw;
}

.form-item,
.form-radio-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-item input,
.form-item textarea {
  width: 400px;
}

.form-item textarea {
  height: 100px;
}

.form-item:last-of-type {
  margin-bottom: 25px;
}

.form-textarea-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.form-radio-item {
  display: flex;
  max-width: 50%;
  cursor: pointer;
}

.form-radio-item-parent {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.form-radio-label input {
  margin-right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dad7cd ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3a5a40;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
